footer{
    background: $logo-green;
    border-top: $logo-red thick inset;
    color: white;
    
    .social-media i{
        color:white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $green;
        &:hover{
            color:$logo-brown;
        }
    }
    address{
        font-size: 2rem;
    }
    form{
        border: solid $green thin;
        padding: 1rem;
    }
}