.sidebar{
	font-size: 2rem;
	text-align:center;
	border: #598527 medium ridge;
	border-radius: 25px;
	background-color: #CDFFCD;
	text-align:center;
	font-family: "proxima-nova",sans-serif;	
	padding:1rem;
	margin:1rem;


	ul{
		padding-left: 0px;
		li{
			list-style-type: none;
		}
	}
}