//@import "fontawesome/font-awesome";
@import "copy";
body {
    font-size: 10px;
    font-family: "proxima-nova", sans-serif;
}


.container,
.container-fluid {
    font-size: 2.0rem;
}

p,
address,
button,
input,
select,
textarea {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: "tenso", sans-serif;
    color: green;
    margin-top: .25rem;
    margin-bottom: .25rem;
}
h1 {
    font-size: 3rem;
    &.entry-title{
        text-align: center;
        &:before {
            display:inline-block;
            font-family: FontAwesome;
            content: "\00a0 \f06c \00a0";
            -webkit-transform:rotateY(180deg);
            -moz-transform:rotateY(180deg);
            -o-transform:rotateY(180deg);
            -ms-transform:rotateY(180deg);
             transform:rotateY(180deg);
            }
        &:after {
            display:inline-block;
            font-family: FontAwesome;
            content: "\00a0 \f06c \00a0";
            }
    }
}
h2 {
    font-size: 2.75rem;
//    .social-media {
//        float: right;
//    }
}

h3 {
    font-size: 2.5rem;
}

h4 {
	font-size: 2.25rem;
}

.telephone {
    font-size: 3rem;
    text-align: right;
}

.telephone a {
    color: #ABA000;
}