/* CSS Document */
body{
	box-sizing: border-box;
	font-size: 10px;
	background:#CDFFCD;
}
header{
	background:brown;
	border-bottom:thick groove green;
}

p{
	font-family: "proxima-nova",sans-serif;
	font-size: 1.5rem;
}
/* http://jsfiddle.net/66reH/1/ menu centering example */
.menu {
    margin-left: 0px auto;
}
.menu ul{
    list-style: none;
    text-align: center;
}
.menu ul li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
	font-family: "rooney-web", sans-serif;
	font-size:1.5 rem;
}
.menu ul li:nth-child(3) {
}

/*
li:after {
	content: " & ";
}
*/
h1,h2,h3,h4,h5,h6{
	font-family: "tenso",sans-serif;
	color:green;	
}

h2 {
	font-size: 3em;
}
h2 .social-media {
	float:right;
}

h3 {
	font-size: 2em;
}

.sidebar{
	font-size: 2 rem;
	text-align:center;
	border: #598527 medium ridge;
	border-radius: 25px;
	background-color: #CDFFCD;
	text-align:center;
	font-family: "proxima-nova",sans-serif;	
	padding:1rem;
}

.sidebar ul{
	padding-left:0 px;
}

.sidebar ul li{
    list-style-type: none;
}

.blog, .home, .gallery, .page{
	background:#FBFAEF;
}

.img-left{
	float:left;
	background-color:green;
	margin-right:1 rem; 
}

.img-right{
	float:right;
	background-color:green;
	margin-left:1 rem; 
}
.banner {
	padding: 1 rem;
	font: purple;
	font-size:2 rem;
}
