/* CSS Document */
body{
	box-sizing: border-box;
}
/* http://jsfiddle.net/66reH/1/ menu centering example */
.menu {
    margin-left:0px auto;
}
.menu ul{
    list-style: none;
    text-align: center;
}
.menu ul li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}
.menu ul li:nth-child(3) {
}