hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* @import "lists"; */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

.banner {
	padding:2rem;
	color: purple;
	font-size:3rem;
    text-align: center;
    height: 100%;
}


.photo-gallery img {
	margin-bottom:2rem;
}

.photo-gallery img:hover {
	background-color:green;
	transform: scale(1.1);

}

@import "tables";